* {
box-sizing: border-box;
}
.heading1{ 
    font-size: 32px;
    color: blue;
}
.heading2{
    font-size: 25px;
    color: purple;
}
.heading3{
    font-size: 16px;
    text-decoration: underline;
    color: yellowgreen;
}
.further-testing{
    font-size: large;
}
.feb{
    font-size: 45px;
    color: green;
    text-decoration: underline;
}
