@import url("https://fonts.googleapis.com/css?family=Shrikhand:regular");
@import url('http://fonts.cdnfonts.com/css/roboto');



* {
box-sizing: border-box;
}
.heading1{ 
    font-size: 32px;
    color: blue;
    font-family: "shrikhand";
}
.heading2{
    font-size: 25px;
    color: purple;
}
.heading3{
    font-size: 16px;
    text-decoration: underline;
    color: yellowgreen;
}
.further-testing{
    font-size: large;
}
.feb{
    font-size: 45px;
    color: green;
    text-decoration: underline;
}
.link{
    padding 20px 20px;
    border: 2px solid green;
    border-radius: 25px 25px;
    width: 200px;
    text-decoration: none;
}
